.title{
    display: flex;
    width: 100vw;
    height: 20vh;
    text-align: center;
    font-size: 48px;
    justify-content: center;
    align-items: center;

}

.stats{
    display: flex;
    height: 14%;
    width: 95%;
    font-size: 1rem;
    margin: 5px;
    justify-content: center;
 
}
aside{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    font-size:0;
    justify-content: space-between;
    align-items: center;
}
main{
    display: flex;
    height: 80vh;
    width: 70vw;
    font-size:0
}
.gameboard{
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    flex-direction: column;
    background-position: center;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
}
.totalParent{
    display:flex
}

body{
    margin:0;
    background-image: url(assets/images/bl3-background.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black 
}
.row{
    height: 20%;
    width: 70%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.card-container{
    display: inline-block;
    height: 90%;
    width: 15%;
    margin: 5px;
}


.card-back{
    float: left
}
.card-back, .card, .react, .git-hub, .html, .css, .php, .node, .mySQL, .js, .docker{

    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
}

.card-back{
    background-image: url(/assets/images/lfz-card.jpg);
}

.react{
    background-image: url(assets/images/react-logo.png);
}
.git-hub{
    background-image: url(assets/images/gitHub-logo.png);
}

.css{
    background-image: url(assets/images/css-logo.png);
}

.docker{
    background-image: url(assets/images/docker-logo.jpg);
}

.html{
    background-image: url(assets/images/html-logo.png);
}

.php{
    background-image: url(assets/images/php-logo.jpeg);
}

.js{
    background-image: url(assets/images/js-logo.png);
}

.mySQL{
    background-image: url(assets/images/mysql-logo.jpg);
}

.node{
    background-image: url(assets/images/node-logo.png);
}



.quiet {
    opacity: 0.5;
}

.hidden{
    display:none;
}
